@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* 
.viewjob{
    font-family: cursive;
    background: #cacaca;
 
}
.viewjob p{
    font-family: cursive;
    font-size: large;
   
} */
/* .viewjob h5{
    color: #1e0825;
} */